In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
df = pd.read_csv('actions_sessions.csv')

In [3]:
df

,session_id,uid,age,gender,city,value,dt,cart_value,search_count,product_count,cart_count,checkout_count,confirmation_count
0,0,user_10366,47,Ж,Уфа,0.0,2021-12-26 21:30:13,0.0,3,2,0,0,0
1,1,user_10467,16,Ж,Москва,0.0,2021-12-26 21:30:14,0.0,2,2,0,0,0
2,15,user_10440,47,Ж,Нижний Новгород,0.0,2021-12-26 22:04:04,0.0,2,0,0,0,0
3,20,user_10268,51,Ж,Омск,0.0,2021-12-26 22:30:44,0.0,1,0,0,0,0
4,21,user_10255,14,М,Москва,8210.0,2021-12-26 22:35:59,20530.0,3,4,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81750,515549,user_10008,23,Ж,Нижний Новгород,0.0,2023-01-02 20:19:50,41930.0,7,6,2,1,0
81751,515563,user_10017,28,Ж,Самара,0.0,2023-01-02 20:22:33,0.0,1,0,0,0,0
81752,515569,user_10274,67,М,Москва,0.0,2023-01-02 20:23:12,0.0,1,1,0,0,0
81753,515582,user_10303,75,Ж,Уфа,0.0,2023-01-02 20:43:51,20900.0,2,3,1,0,0
81754,515590,user_10418,55,М,Новосибирск,0.0,2023-01-02 20:47:56,0.0,3,1,0,0,0

In [7]:
def check_confirmation(action, value):
    if action == 'confirmation':
        return value
    return 0

In [8]:
def check_cart(action, value):
    if action == 'cart':
        return value
    return 0

In [9]:
def action_count(action, action_check):
    if action == action_check:
        return 1
    return 0

In [10]:
df['search_count'] = df.apply(lambda x: action_count(x.action, 'search'), axis=1)
df['product_count'] = df.apply(lambda x: action_count(x.action, 'product'), axis=1)
df['cart_count'] = df.apply(lambda x: action_count(x.action, 'cart'), axis=1)
df['checkout_count'] = df.apply(lambda x: action_count(x.action, 'checkout'), axis=1)
df['confirmation_count'] = df.apply(lambda x: action_count(x.action, 'confirmation'), axis=1)

In [11]:
df

,uid,action,value,category,age,gender,city,dt,session_id,search_count,product_count,cart_count,checkout_count,confirmation_count
id,,,,,,,,,,,,,,
0,user_10366,product,0.0,Авто/мото товары,47,Ж,Уфа,2021-12-26 21:30:13,0,0,1,0,0,0
1,user_10467,mainpage,0.0,None,16,Ж,Москва,2021-12-26 21:30:14,1,0,0,0,0,0
2,user_10366,category,0.0,Авто/мото товары,47,Ж,Уфа,2021-12-26 21:30:16,0,0,0,0,0,0
3,user_10467,search,0.0,Товары для детей,16,Ж,Москва,2021-12-26 21:30:43,1,1,0,0,0,0
4,user_10366,mainpage,0.0,None,47,Ж,Уфа,2021-12-26 21:30:44,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515593,user_10418,category,0.0,Продовольственные товары,55,М,Новосибирск,2023-01-02 20:48:58,515590,0,0,0,0,0
515594,user_10418,category,0.0,Одежда и обувь,55,М,Новосибирск,2023-01-02 20:49:04,515590,0,0,0,0,0
515595,user_10418,search,0.0,Электроника и бытовая техника,55,М,Новосибирск,2023-01-02 20:49:09,515590,1,0,0,0,0
515596,user_10418,product,0.0,Красота и здоровье,55,М,Новосибирск,2023-01-02 20:49:47,515590,0,1,0,0,0
515597,user_10418,category,0.0,Продовольственные товары,55,М,Новосибирск,2023-01-02 20:50:27,515590,0,0,0,0,0

In [12]:
df['confirmation_value'] = df.apply(lambda x: check_confirmation(x.action, x.value), axis=1)

In [13]:
df['cart_value'] = df.apply(lambda x: check_cart(x.action, x.value), axis=1)

In [14]:
sessionId_info = df.groupby(['session_id']).agg(uid=('uid', np.min),
                                                age=('age', np.min),
                                                gender=('gender', np.min),
                                                city=('city', np.min),
                                                value=('confirmation_value', np.sum),
                                                dt=('dt', np.min),
                                                cart_value=('cart_value', np.sum), 
                                                search_count=('search_count', np.sum), 
                                                product_count=('product_count', np.sum), 
                                                cart_count=('cart_count', np.sum),
                                                checkout_count=('checkout_count', np.sum), 
                                                confirmation_count=('confirmation_count', np.sum))

In [15]:
sessionId_info

,uid,age,gender,city,value,dt,cart_value,search_count,product_count,cart_count,checkout_count,confirmation_count
session_id,,,,,,,,,,,,
0,user_10366,47,Ж,Уфа,0.0,2021-12-26 21:30:13,0.0,3,2,0,0,0
1,user_10467,16,Ж,Москва,0.0,2021-12-26 21:30:14,0.0,2,2,0,0,0
15,user_10440,47,Ж,Нижний Новгород,0.0,2021-12-26 22:04:04,0.0,2,0,0,0,0
20,user_10268,51,Ж,Омск,0.0,2021-12-26 22:30:44,0.0,1,0,0,0,0
21,user_10255,14,М,Москва,8210.0,2021-12-26 22:35:59,20530.0,3,4,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
515549,user_10008,23,Ж,Нижний Новгород,0.0,2023-01-02 20:19:50,41930.0,7,6,2,1,0
515563,user_10017,28,Ж,Самара,0.0,2023-01-02 20:22:33,0.0,1,0,0,0,0
515569,user_10274,67,М,Москва,0.0,2023-01-02 20:23:12,0.0,1,1,0,0,0
515582,user_10303,75,Ж,Уфа,0.0,2023-01-02 20:43:51,20900.0,2,3,1,0,0
515590,user_10418,55,М,Новосибирск,0.0,2023-01-02 20:47:56,0.0,3,1,0,0,0

In [16]:
sessionId_info = sessionId_info.reset_index()

In [17]:
sessionId_info = sessionId_info.sort_values('session_id')

In [18]:
sessionId_info

,session_id,uid,age,gender,city,value,dt,cart_value,search_count,product_count,cart_count,checkout_count,confirmation_count
0,0,user_10366,47,Ж,Уфа,0.0,2021-12-26 21:30:13,0.0,3,2,0,0,0
1,1,user_10467,16,Ж,Москва,0.0,2021-12-26 21:30:14,0.0,2,2,0,0,0
2,15,user_10440,47,Ж,Нижний Новгород,0.0,2021-12-26 22:04:04,0.0,2,0,0,0,0
3,20,user_10268,51,Ж,Омск,0.0,2021-12-26 22:30:44,0.0,1,0,0,0,0
4,21,user_10255,14,М,Москва,8210.0,2021-12-26 22:35:59,20530.0,3,4,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81750,515549,user_10008,23,Ж,Нижний Новгород,0.0,2023-01-02 20:19:50,41930.0,7,6,2,1,0
81751,515563,user_10017,28,Ж,Самара,0.0,2023-01-02 20:22:33,0.0,1,0,0,0,0
81752,515569,user_10274,67,М,Москва,0.0,2023-01-02 20:23:12,0.0,1,1,0,0,0
81753,515582,user_10303,75,Ж,Уфа,0.0,2023-01-02 20:43:51,20900.0,2,3,1,0,0
81754,515590,user_10418,55,М,Новосибирск,0.0,2023-01-02 20:47:56,0.0,3,1,0,0,0

In [19]:
sessionId_info.to_csv('sessionId_info.csv', index=False)